
@{
    ViewData["Title"] = "Details";
}


@model Product


<h1>Details</h1>



<div class="product-card">
    <img src="https://via.placeholder.com/300x200" alt="Məhsul Şəkli">
    <h3>@Model.Name</h3>
    <p>@Model.Description</p>
    <div class="price">@Model.Price</div>
    <button>Səbətə əlavə et</button>
</div>